@model CompanyManager.DatabaseAccessLayer.Context.Attribute

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Признак</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttributeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно к списку", "Index")
</p>
