@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4">
            <a class="btn btn-lg btn-primary" href="/Home/Catalog">Справочники</a>
        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-lg btn-success" href="/ExplosionNodes/Index">Алгоритм разузлования</a>
        </div>
        <div class="col-12 col-sm-4">
            <a class="btn btn-lg btn-info" href="/ProductPlans/Index">Материальное нормирование</a>
        </div>
   </div>
</div>
